Repository ntust-im-labyrinth/cybersecurity-threat-research, pull requests merged in 2023-10, with the labels that each got.

#156 test: check cdk deployment stack.
  deployment/deployment/deployment_stack.py
  deployment/tests/unit/test_deployment_stack.py
Labels: deployment

#190 clc_rebase
  build_domain.py
  build_root.py
Labels: repo

#192 Ykpyck phrank leeng
  domain/study/securityupdated.com.png
  domain/study/syn.broadcaster.rocks-recon-ng.png
  domain/study/syn.broadcaster.rocks.png
Labels: domain/study

#181 M11115824
  domain/study/bawaslu-scan.png
Labels: domain/study

#180 Apt37 reaper
  domain/study/login.drive-google-com.tk.png
  domain/study/login.drive-google-com.tk_recon-ng.png
Labels: domain/study

#179 M11209313
  domain/study/www.cia.gov-scan1.png
  domain/study/www.cia.gov-scan2.png
  domain/study/www.cia.gov-scan3_1.png
  domain/study/www.cia.gov-scan3_2.png
  domain/study/www.cia.gov-scan3_3.png
  domain/study/www.cia.gov-scan4.png
Labels: domain/study

#176 Add files via upload
  domain/study/Screenshot 2023-10-02 at 11.32.29 AM.png
Labels: domain/study

#154 Add files via upload
  domain/study/Tiket.com scan.png
Labels: domain/study

#145 update github-scan.png
  domain/github-scan.png
  domain/study/github_builtwith.png
  domain/study/github_dirhunt.png
Labels: domain/study

#193 Add files via upload
  domain/study/testphp.vulnweb.com-directory-hunt-scan.png
  domain/study/testphp.vulnweb.com-website-info-scan.png
Labels: domain/study

#194 Add files via upload
  domain/study/mysticwidgets.com-photon.png
  domain/study/mysticwidgets.com-wig.png
Labels: domain/study

#230 Add files via upload
  domain/study/BUILTWITH - TIKET.COM.png
  domain/study/DIRHUNT tiket.com.png
  domain/study/PHOTON tiket.com.png
  domain/study/WFUZZ tiket.com.png
  domain/study/WIG Tiket.png
  domain/study/WPSCAN smartid.co.id interesting finding-1.png
  domain/study/WPSCAN smartid.co.id interesting finding-2.png
  domain/study/WPSCAN tiket.com.png
Labels: domain/study

#232 M11209315
  domain/study/M11209315_PittyTiger_BUILTWITH.COM.png
  domain/study/M11209315_PittyTiger_Photon.png
  domain/study/M11209315_PittyTiger_WPScan.png
  domain/study/M11209315_PittyTiger_wfuzz.png
Labels: domain/study

#231 E112215001-B10909015-B10909018
  99percentinvisible.org-wpscan.png
  oilrig.com-Cmsmap.png
  oilrig.com-Photon.png
  oilrig.com-WIG.PNG
  oilrig.com-buildwith1.png
  oilrig.com-buildwith2.png
  oilrig.com-buildwith3.png
  oilrig.com-dirhunt1.png
  oilrig.com-dirhunt2.png
Labels: repo

#233 Add files via upload
  domain/study/PCHOME.COM.TW_Wappalyzer_1.png
  domain/study/PCHOME.COM.TW_Wappalyzer_1_1.png
  domain/study/PCHOME.COM.TW_Wappalyzer_1_2.png
  domain/study/PCHOME.COM.TW_Wappalyzer_2.png
  domain/study/PCHOME.COM.TW_Wappalyzer_3.png
  domain/study/PCHOME.COM.TW_builtwith_1.png
  domain/study/PCHOME.COM.TW_builtwith_2.png
  domain/study/PCHOME.COM.TW_cmsmap.png
  domain/study/PCHOME.COM.TW_dirhunt.png
  domain/study/PCHOME.COM.TW_photon.png
  domain/study/PCHOME.COM.TW_wig.png
  domain/study/PCHOME.COM.TW_wufzz.png
Labels: domain/study

#229 M11115824
  domain/study/bawaslu.go.id-scan.png
Labels: domain/study

#228 docs: files added and change of directory
  domain/study/builtwix_2_ece.fr.png
  domain/study/builtwix_ece.fr.png
  domain/study/photon_ece.fr.png
  domain/study/wig_ece.fr.png
Labels: domain/study

#209 Lena tim 16 10
  domain/study/tim-haenlein.de.jpg
  domain/study/timhortons-builtwith1.png
  domain/study/timhortons-builtwith2.png
  domain/study/timhortons-cmsmap.PNG
  domain/study/timhortons-dirhunt.png
  domain/study/timhortons-photon.PNG
  domain/study/timhortons-wfuzz.PNG
  domain/study/timhortons-wig.PNG
  domain/study/timhortons-wpscan.PNG
  domain/study/www.mittelalter-tross.de.png
Labels: domain/study

#208 M11209305
  domain/study/builtwith.com_mangago.me.png
  domain/study/dirhunt_mangago.me.png
  domain/study/wig_mangago.me.png
Labels: domain/study

#207 Add files via upload
  domain/study/agentstite.com.dirhunt.png
  domain/study/agentstite.com.webinfo.png
Labels: domain/study

#206 Add files via upload
  domain/study/(1).PNG
  domain/study/(2).PNG
  domain/study/(3).PNG
  domain/study/(4).PNG
  domain/study/1.PNG
  domain/study/2.PNG
  domain/study/3.PNG
Labels: domain/study

#205 Web Exploration: Information Gathering & Directory Fuzzing for markettrendingcenter.com
  domain/study/markettrendingcenter.com-CMSMap-scan.png.png
  domain/study/markettrendingcenter.com-Photon-scan.png
  domain/study/markettrendingcenter.com-WPScan-scan.png.png
  domain/study/markettrendingcenter.com-builtwith-scan.png
  domain/study/markettrendingcenter.com-dirhunt-scan.png
  domain/study/markettrendingcenter.com-photon-scan.json
  domain/study/markettrendingcenter.com-wig-scan.png.png
Labels: domain/study

#204 M11209310
  domain/study/M11209310-builtwith_scan.png
  domain/study/M11209310-dirhunt_scan.png
  domain/study/M11209310-photon.png
  domain/study/M11209310-wig_scan.png
  domain/study/M11209310-wpscan_scan.png
Labels: domain/study

#236 Add files via upload
  domain/study/截圖 2023-10-16 上午11.16.04.jpg
  domain/study/截圖 2023-10-16 上午11.38.05.jpg
  domain/study/截圖 2023-10-16 上午11.46.26.jpg
Labels: domain/study

#235 Add files via upload
  domain/study/builtwith_fancybear.jpg
  domain/study/builtwith_relationship.jpg
  domain/study/dirhunt_aclab1.jpg
  domain/study/dirhunt_aclab2.jpg
  domain/study/photon_aclab.jpg
  domain/study/wig_fancybear.jpg
Labels: domain/study

#239 M11209304
  domain/study/1016 threat hunting.png
  domain/study/hackmd.io.yaml
Labels: domain/study

#196 B10909033
  domain/study/muddywater.png
  domain/study/muddywater2.png
Labels: domain/study

#197 Add files via upload
  domain/study/B10909046_Buildwith.png
  domain/study/B10909046_Dirhunt_01.png
  domain/study/B10909046_Dirhunt_02.png
  domain/study/B10909046_Wig.png
  domain/study/B1090946_Photon.png
Labels: domain/study

#238 builtwith, wig, dirhunt
  domain/study/builtwith.png
  domain/study/dirhunt_1.png
  domain/study/dirhunt_2.png
  domain/study/wig.png
Labels: domain/study

#237 Ykpyck phrank leeng
  domain/study/directory_hunts-securityupdated.com.png
  domain/study/website_info-securityupdated.com.png
  scamadvisor.com-photon.png
  scamadvisor.com-wig.png
Labels: domain/study, repo

#234 Apt37 reaper
  domain/study/login.drive-google-com.tk_BUILTWITH.png
  domain/study/login.drive-google-com.tk_CMSMAP.png
  domain/study/login.drive-google-com.tk_Dirhunt.png
  domain/study/login.drive-google-com.tk_Photon.png
  domain/study/login.drive-google-com.tk_WPScan.png
  domain/study/login.drive-google-com.tk_wfuzz.png
  domain/study/login.drive-google-com.tk_wig.png
Labels: domain/study

#198 Add files via upload
  domain/study/Wfuzz_citi.com.jpg
  domain/study/buitwith_citi.com.png
  domain/study/photon_citi.com.png
  domain/study/wig_citi.com.png
Labels: domain/study

#201 Add files via upload
  domain/study/Builtwith.jpg
  domain/study/Builtwith_2.jpg
  domain/study/Kestrel.jpg
  domain/study/Photon.jpg
  domain/study/Wig.jpg
  domain/study/wongnai.Running a Dork.jpg
  domain/study/wongnai.docker run it.jpg
  domain/study/wongnai.docker run it_2.jpg
Labels: domain/study

#250 Add files via upload
  domain/study/tiket.com INURLBR.png
  domain/study/tiket.com dork site.png
Labels: domain/study

#195 Add files via upload
  domain/study/image.png
  domain/study/image2.png
  domain/study/螢幕擷取畫面 (1).png
Labels: domain/study

#202 Add files via upload
  domain/study/malwarebytes-scan-1016builtwith1.png
  domain/study/malwarebytes-scan-1016builtwith2.png
  domain/study/malwarebytes-scan-1016builtwith3.png
  domain/study/malwarebytes-scan-1016dirhunt1.png
  domain/study/malwarebytes-scan-1016dirhunt2.png
  domain/study/malwarebytes-scan-1016photon.PNG
  domain/study/malwarebytes-scan-1016wig.png
Labels: domain/study

#222 Drline
  .github/workflows/deploy-prod.yaml
  deployment/app.py
Labels: deployment

#259 refactor: use logging instead print.
  build_domain.py
  build_root.py
  build_statistics.py
  build_threat.py
Labels: repo

#241 filetype ppt dork
  dork.png
Labels: repo

#281 Site oilrig.com E112215001-B10909015-B10909018
  domain/study/Kestrel.jpg
  domain/study/Running a dork 1.png
  domain/study/Running a dork 2.png
  domain/study/Running a dork 3.png
  domain/study/SCANNER-INURLBR_output.png
  domain/study/SCANNER-INURLBR_output.txt
  domain/study/SCANNER-INURLBR_running.txt
  domain/study/mitre.png
Labels: domain/study

#272 add inurlbr report to E112215001-B10909015-B10909018.yaml
  domain/study/E112215001-B10909015-B10909018.yaml
Labels: domain/study

#286 B10909028
  domain/study/BiliBili_CMS_by_builtwith.png
  domain/study/BiliBili_CMS_by_wig.png
  domain/study/BiliBili_Dir_By_wfuzz.png
  domain/study/BiliBili_Dir_by_dirhunt.png
  domain/study/googledork.png
Labels: domain/study

#278 Add files via upload
  domain/study/B10909028.png
Labels: domain/study

#276 upload dork and inurlbr png
  domain/study/B10909025&29_dork.png
  domain/study/inurlbr_install_b10909025&&29.png
Labels: domain/study

#242 B10909046 _1023
  domain/study/B10909046_1023.png
  domain/study/B10909046_inurlbr_1023.png
  threat/hunting/B10909046_1023_kestrel.png
Labels: domain/study

#249 dork, inurlbr, kestrel
  domain/study/dork.png
  domain/study/inurlbr_1.png
  domain/study/inurlbr_2.png
  domain/study/kestrel_1.png
  domain/study/kestrel_2.png
  domain/study/kestrel_3.png
Labels: domain/study

#257 docs: Adding files
  domain/study/INURLBR.png
  domain/study/dork_running.png
Labels: domain/study

#284 Ykpyck phrank leeng 2
  domain/study/inurl-gdork-kestrel_ykpyck.png
  domain/study/phrank_leeng_inurlbr_log.txt
  domain/study/phrank_leeng_inurlbr_output.txt
Labels: domain/study

#283 Add files via upload
  domain/study/hackthissite.org_INURLBR.png
  domain/study/login.drive-google-com.tk_Dorks.png
  domain/study/login.drive-google-com.tk_Kestrel.png
Labels: domain/study

#285 googledork, inurlbr, kestrel
  domain/study/josh2017.googledork.png
  domain/study/josh2017.inurlbr.png
  domain/study/josh2017.kestrel.png
Labels: domain/study

#247 Add files via upload
  domain/study/google dork_citi.com.png
  domain/study/google dork_citi.com2.png
  domain/study/inurlbr_citi.com.png
  domain/study/kestrel installation.png
Labels: domain/study

#254 More Web Exploration: Google Dorking and Inurlbr Results for markettrendingcenter.com
  domain/study/markettrendingcenter.com-google-dork.png
  domain/study/markettrendingcenter.com-inurlbr.png
  domain/study/markettrendingcenter.com-kestrel-install.png
Labels: domain/study

#271 feat(M11115824): search engine dork, inurlbr, kestrel installation screenshot proof
  domain/study/bawaslu.go.id-sed.png
Labels: domain/study

#269 Add files via upload
  domain/study/KESTREL INSTALLATION(1).PNG
  domain/study/KESTREL INSTALLATION(2).PNG
  domain/study/KESTREL INSTALLATION.PNG
  domain/study/RUNNING A DORK.PNG
Labels: domain/study

#255 Add files via upload
  domain/study/testphp.vulnweb.com-goolge-dork.png
  domain/study/testphp.vulnweb.com-inurlbr-scan.png
  domain/study/testphp.vulnweb.com-kestrel-install.png
Labels: domain/study

#258 dork exercise
  domain/study/site www.ithome.com.tw threat hunting_DORK.png
  domain/study/site www.ithome.com.tw threat hunting_inurlbr.png
Labels: domain/study

#240 Add files via upload
  image.png
  image2.png
  螢幕擷取畫面 (1).png
Labels: repo

#244 Add files via upload
  domain/study/inurlbr.png
  domain/study/kestrel.png
  domain/study/search-engine.png
Labels: domain/study

#121 M11209312
  domain/study/INURLBR.PNG
  domain/study/Jupyter.PNG
  domain/study/Photon.PNG
  domain/study/TSMC_CTFR.PNG
  domain/study/TSMC_crt.PNG
  domain/study/WFUZZ.PNG
  domain/study/dirhunt.PNG
  domain/study/dork.PNG
  domain/study/moda.gov.tw-scan.PNG
  domain/study/moda.gov.tw.yaml
  domain/study/moda.gov.tw_cmsmap -1.PNG
  domain/study/namedrapper_TSMC.png
  domain/study/whoisology_TSMC.png
  domain/study/wig.PNG
  domain/study/wpdake.png
  domain/study/wps.PNG
Labels: domain/study

#282 Add files via upload
  domain/study/PCHOME.COM.TW_KESTREL_INSTALLATION.png
  domain/study/PCHOME.COM.TW_allintitle.png
  domain/study/PCHOME.COM.TW_allinurl.png
  domain/study/PCHOME.COM.TW_intitle.png
  domain/study/PCHOME.COM.TW_inurl.png
  domain/study/PCHOME.COM.TW_inurlbr_1.png
  domain/study/PCHOME.COM.TW_inurlbr_2.png
  domain/study/PCHOME.COM.TW_inurlbr_3.png
  domain/study/PCHOME.COM.TW_link.png
  domain/study/PCHOME.COM.TW_site_1.png
  domain/study/PCHOME.COM.TW_site_2.png
  domain/study/PCHOME.COM.TW_site_3.png
  domain/study/PCHOME.COM.TW_site_4.png
Labels: domain/study

#277 Add files via upload
  domain/study/M11209315_Dork.png
  domain/study/M11209315_Inurlbr.png
  domain/study/M11209315_Kestrel.png
Labels: domain/study
