Repository ntust-im-labyrinth/cybersecurity-threat-research, pull requests merged in 2023-12, with the labels that each got.

#462 B10909026 4
  domain/study/B10909028_B10909026_Googleimagesearch.png
  domain/study/b10909026_b10909028_peoplelooker-like.png
Labels: domain/study

#480 Add files via upload
  domain/study/11.27-google.tineye.png
  domain/study/11.27-台灣法院通緝犯.png
Labels: domain/study

#465 Add files via upload
  M11209304_google image.png
  M11209304_tineye.png
  M11209304_website.png
  threat/hunting/M11209304_google image.png
  threat/hunting/M11209304_tineye.png
  threat/hunting/M11209304_website.png
Labels: repo

#468 Add files via upload
  domain/study/螢幕擷取畫面 2023-11-27 131107.png
  domain/study/螢幕擷取畫面 2023-11-27 131147.png
  domain/study/螢幕擷取畫面 2023-11-27 131257.png
Labels: domain/study

#475 Add files via upload
  domain/study/M11209305_GOOGLE IMAGE.png
  domain/study/M11209305_KESTREL + ELASTIC.png
  domain/study/M11209305_TAIWAN_peoplelooker.jpg
  domain/study/M11209305_TinEye.png
  domain/study/M11209305_eagle-eye.png
Labels: domain/study

#481 B10909029&B10909025
  domain/study/B10909025&29_Tineye.png
  domain/study/B10909025&29_googleImage.png
  domain/study/B10909025&29_peopleLooker相似網站.png
Labels: domain/study

#485 image search and get social media information
  domain/study/Eagle-Eye eror while loading webdriverjpg.jpg
  domain/study/images.google.com - LakeLungern.png
  domain/study/images.google.com - ME.png
  domain/study/peoplelooker-AniesBaswedan-FirstPresidentCandidatefor2024PresidentElection.png
  domain/study/tineye-TaiwanNightMarket.png
Labels: domain/study

#486 11/27 Homework M11209302/p477d343
  domain/study/M11209302_Eagle_Eye.png
  domain/study/M11209302_Google-Image.jpg
  domain/study/M11209302_KESTREL_ELASTIC.jpg
  domain/study/M11209302_TinEye.jpg
Labels: domain/study

#487 feat: E11215009 Nov.27 exercise
  domain/study/PeopleLooker_Celeste.png
  domain/study/TinEye_Nassim.png
Labels: domain/study

#488 Extensive Web Exploration of Indonesian Government Website
  domain/study/korlantas.polri.go.id-builtwith.png
  domain/study/korlantas.polri.go.id-cmsmap.png
  domain/study/korlantas.polri.go.id-dirhunt.png
  domain/study/korlantas.polri.go.id-photon.png
  domain/study/korlantas.polri.go.id-wfuzz.png
  domain/study/korlantas.polri.go.id-wig.png
  domain/study/korlantas.polri.go.id-wpscan.png
Labels: domain/study

#419 Add files via upload
  domain/study/DIRHUNT.png
  domain/study/WIG.png
Labels: domain/study

#459 docs: exercise 20/11
  domain/study/CloudStorageFinder2_Arthur&Gioia.png
  domain/study/CloudStorageFinder_Arthur&Gioia.png
  domain/study/Firepit_Arthur&Gioia.png
  domain/study/Shodan_Arthur&Gioia.png
Labels: domain/study

#497 Add files via upload
  domain/study/M11209105_EMAILREP.IO.PNG
  domain/study/M11209105_HUNTER.IO.PNG
  domain/study/M11209105_OPENCORPORATES.PNG
  domain/study/M11209105_REDECTIVE(1).PNG
  domain/study/M11209105_REDECTIVE(2).PNG
  domain/study/M11209105_SEON SOLUTIONS.PNG
  domain/study/M11209105_USERRECON.PNG
Labels: domain/study

#516 Add files via upload
  M11209305_Redective.png
  M11209305_SEON.png
  M11209305_emailrep.png
  M11209305_hunter.png
  M11209305_userrecon.png
  m11209305_opencorp.png
Labels: repo

#493 Add files via upload
  domain/study/截圖 2023-12-04 上午11.16.45.jpg
  domain/study/截圖 2023-12-04 上午11.18.21.jpg
  domain/study/截圖 2023-12-04 上午11.21.54.jpg
  domain/study/截圖 2023-12-04 上午11.22.04.jpg
Labels: domain/study

#494 Add files via upload
  domain/study/EMAILREP_IO.jpg
  domain/study/HUNTER_IO.jpg
  domain/study/OpenCorporates.jpg
  domain/study/SEON SOLUTIONS.jpg
  domain/study/redective.jpg
Labels: domain/study

#495 B10909026 4
  domain/study/B10909028_B10909026_userrecon.png
  domain/study/b10909026_b10909028_opencor.png
  domain/study/b10909026_b10909028_seon.png
Labels: domain/study

#499 Add files via upload
  domain/study/D11109801 and M11109804-Coorporates looking for officer director.png
  domain/study/D11109801 and M11109804-Redective Polictical Bangkok.png
  domain/study/D11109801 and M11109804-Seon Email Checking.png
  domain/study/D11109801 and M11109804-User Recon.png
  domain/study/D11109801 and M11109804-opencorporates looking for Bangkok bank.png
Labels: domain/study

#500 Add files via upload
  domain/study/SimpleEmailReputation_1.png
  domain/study/SimpleEmailReputation_2.png
  domain/study/hunter.png
  domain/study/opencorporates.png
  domain/study/redective_1.png
  domain/study/redective_2.png
  domain/study/seon.png
  domain/study/userrecon_1.png
  domain/study/userrecon_2.png
  domain/study/userrecon_3.png
  domain/study/userrecon_4.png
Labels: domain/study

#503 B10909046_1204_Exercise upload except Kestrel
  domain/study/B10909046_1204_Redective.png
  domain/study/B10909046_1204_SEON.png
  domain/study/B10909046_1204_UserRecon.png
  domain/study/B10909046_1204_emailrep.png
  domain/study/B10909046_1204_hunterIO.png
  domain/study/B10909046_1204_openCORP.png
Labels: domain/study

#511 E112215001-B10909015-B10909018 (Week 4 Dec.)
  domain/study/HUNTBOOK kestrel.png
  domain/study/MY HUNTBOOK.ipynb
  domain/study/Redective1.png
  domain/study/Redective2.png
  domain/study/Seon.png
  domain/study/Userrecon.png
  domain/study/opencorporates1.png
  domain/study/opencorporates2.png
Labels: domain/study

#512 Update E112215001-B10909015-B10909018.yaml
  domain/study/E112215001-B10909015-B10909018.yaml
Labels: domain/study

#506 Add files via upload
  domain/study/emailchecks_1.jpg
  domain/study/emailchecks_2.jpg
  domain/study/emailchecks_3.jpg
  domain/study/opencorp.jpg
  domain/study/redective.png
  domain/study/userrecon.png
Labels: domain/study

#507 Add files via upload
  domain/study/Redective_ElonMusk.jpg
  domain/study/SEON_lsps.jpg
  domain/study/Usercon_YOASOBI.jpg
  domain/study/opencorporate.jpg
Labels: domain/study

#509 Exercise-1204-M11209310
  domain/study/M11209310-SEON.png
  domain/study/M11209310-opencorporates.png
  domain/study/M11209310-userrecon.png
Labels: domain/study

#514 12/4 Homework M11209302/p477d343
  domain/study/M11209302_Emailrep.jpg
  domain/study/M11209302_Huntbook_1.jpg
  domain/study/M11209302_Huntbook_2.jpg
  domain/study/M11209302_Huntbook_3.jpg
  domain/study/M11209302_Huntbook_4.jpg
  domain/study/M11209302_Huntbook_5.jpg
  domain/study/M11209302_Opencorporates.jpg
  domain/study/M11209302_Redective.jpg
  domain/study/M11209302_Seon_io.jpg
  domain/study/M11209302_Skiptracer.jpg
  domain/study/M11209302_Twincn.jpg
  domain/study/M11209302_UserRecon.jpg
  domain/study/M11209302_hunter_io.jpg
Labels: domain/study

#515 feat: E11215009 Dec.4 exercise
  hunter_oceanbuffalogroup.png
  mailreputation_oceanbuffalogroup.png
  opencorporates_oceanbuffalogroup.png
  redective_oceanbuffalogroup.png
  seon_oceanbuffalogroup.png
Labels: repo

#518 Email, social media, company search
  domain/study/Indonesian company-Indofood.png
  domain/study/SEON email data breach.png
  domain/study/redective.png
  domain/study/userrecon-username-search.png
Labels: domain/study

#520 Add files via upload
  domain/study/12.04-emailchecks-1.png
  domain/study/12.04-emailchecks-2.png
  domain/study/12.04-emailchecks-3.png
  domain/study/12.04-opencorporates.png
  domain/study/12.04-redective.png
Labels: domain/study

#471 Add files via upload
  domain/study/M11209105_new_FIREPIT_SPLINT(1).PNG
  domain/study/M11209105_new_FIREPIT_SPLINT(2).PNG
  domain/study/M11209105_new_FIREPIT_SPLINT(3).PNG
  domain/study/M11209105_new_FIREPIT_SPLINT(4).PNG
  domain/study/M11209105_new_SHODAN.png
  domain/study/M11209105_new_cloudspacefinder(2).png
  domain/study/M11209105_new_cloudspacefinder(3).png
  domain/study/M11209105_new_cloudspacefinder(4).png
  domain/study/M11209105_new_cloudstorageFinder(1).PNG
Labels: domain/study

#474 Lena/Tim: Correction: interesting places to look
  domain/study/0day.today_moodle.png
  domain/study/exploit-db.com_easychat.png
  domain/study/pastebin.com_shellshock_exploit.png
  domain/study/wigle.com_ntust.png
Labels: domain/study

#478 Add files via upload
  domain/study/M11209305_cloudstoragefinder.png
  domain/study/M11209305_shodan-2.png
  domain/study/m11209305_FIREPIT_SPLINT.png
Labels: domain/study

#490 E112215001-B10909015-B10909018
  domain/study/Criminal_records_search.png
  domain/study/EagleEye.png
  domain/study/Google_Images.png
  domain/study/Sample_report1.png
  domain/study/Sample_report2.png
  domain/study/TinEye.png
  domain/study/public_profile_picture_in_LinkedIn.png
Labels: domain/study

#502 B10909046_1127_Exercise upload
  domain/study/B10909046_1127_GooglePics.png
  domain/study/B10909046_1127_Peoplesearch.png
  domain/study/B10909046_1127_Tineye.png
Labels: domain/study

#508 Exercise-1127-M11209310
  domain/study/M11209310-Google-Image-1127.png
  domain/study/M11209310-刑事警察局-1127.png
Labels: domain/study

#527 Add files via upload
  domain/study/image_2023-12-11_10-54-33.png
  domain/study/image_2023-12-11_10-55-09.png
  domain/study/image_2023-12-11_10-56-11.png
Labels: domain/study

#585 Add files via upload
  domain/study/12.11-flip.gg.png
  domain/study/12.11-hackforums.net.png
  domain/study/12.11-nulled.to.png
  domain/study/12.11-raidforums.com.png
Labels: domain/study

#537 Username search in any forum
  domain/study/1. odin found in flipd.gg.png
  domain/study/2. odin likes a post-flipd.gg.png
  domain/study/3. odin-nulled.to.png
  domain/study/4. odin acount has been deleted-hackerforums.net.png
  domain/study/odin doesn't have account in 0x00sec.png
  domain/study/odin doesn't have account in evilzone.org.png
  domain/study/odin doesn't have account in exploit.in.png
  domain/study/odin doesn't have account in xss.is.png
  domain/study/odin doesn't have any account in raidforums.net.png
Labels: domain/study

#592 1204 & 1211 hunting book
  hunting book.ipynb
Labels: repo

#541 Add files via upload
  domain/study/M11209305_forums.png
Labels: domain/study

#577 feat(huntbook): documentation for Lateral movement and lsass memory dump huntbook
  domain/study/M11115824,M11209305-huntbook.ipynb
Labels: domain/study

#543 Add files via upload
  domain/study/flipd_1.png
  domain/study/flipd_2.png
  domain/study/hackforums_1.png
  domain/study/hackforums_2.png
  domain/study/huntbook_1.png
  domain/study/huntbook_2.png
  domain/study/huntbook_3.png
  domain/study/huntbook_4.png
  domain/study/nulled_1.png
  domain/study/nulled_2.png
Labels: domain/study

#544 E112215001-B10909015-B10909018 (Week 12 Dec.)
  domain/study/dataviper.io telegram.png
  domain/study/dataviper.io.png
  domain/study/flipd.gg_dorks_sno.png
  domain/study/flipd.gg_profile_sno.png
  domain/study/nulled.to_dorks.png
  domain/study/nulled.to_post.png
Labels: domain/study

#545 Add files via upload
  domain/study/M11209105_Criminalz.PNG
  domain/study/M11209105_Hackforums.net.PNG
  domain/study/M11209105_Raidforums.net.PNG
  domain/study/M11209105_breachforums(1).PNG
  domain/study/M11209105_breachforums(2).PNG
  domain/study/M11209105_cracked.io(1).PNG
  domain/study/M11209105_cracked.io(2).PNG
  domain/study/M11209105_crackingpro(1).PNG
  domain/study/M11209105_crackingpro(2).PNG
  domain/study/M11209105_exploit.in.PNG
  domain/study/M11209105_flipd.gg(1).PNG
  domain/study/M11209105_flipd.gg(2).PNG
  domain/study/M11209105_nulled(1).PNG
  domain/study/M11209105_nulled(2).PNG
Labels: domain/study

#548 Add files via upload
  domain/study/flipd.png
  domain/study/hackforums.png
  domain/study/nulled.png
  domain/study/raidforums.png
Labels: domain/study

#551 Add files via upload
  domain/study/M11209316-12-11-1.png
  domain/study/M11209316-12-11-2.png
  domain/study/M11209316-12-11-3.png
  domain/study/M11209316-12-11-4.png
  domain/study/M11209316-12-11-cracked.png
  domain/study/M11209316-12-11.png
Labels: domain/study

#531 Add files via upload
  domain/D11109801 and M11109804-Hunt Book Threat Hunting New.ipynb
  domain/study/D11109801 and M11109804-ORK SEARCH SOME (HACKER) FORUMS.png
Labels: domain/study

#578 12/11 B10909029&B10909025
  domain/study/B10909025&29_flipd.gg.png
  domain/study/B10909025&29_hackforums.net.png
  domain/study/B10909025&29_nulled.to.png
Labels: domain/study

#580 HuntBook For Seatbelt Group User Discovery
  domain/study/M11209310-HuntBook-Seatbelt Group User Discovery.ipynb
Labels: domain/study

#587 Huntbook M11209302/p477d343
  domain/study/Process Herpaderping Mimikatz.ipynb
Labels: domain/study

#604 E112215001-B10909015-B10909018
  domain/study/Empire VBS Execution Huntbook.ipynb
Labels: domain/study

#574 1204-search social media (This is a correct theme)
  1204 EMAIL CHECK-1.png
  1204 EMAIL CHECK-2.png
  1204 EMAIL CHECK-3.png
  1204 OPENCORP & REDECTIVE-1.png
  1204 OPENCORP & REDECTIVE-2.png
  1204 userrecon-1.png
  1204 userrecon-2.png
Labels: repo

#595 Add files via upload_1204
  domain/study/EmailRep.png
  domain/study/Hunterio.png
  domain/study/Redective.png
  domain/study/USERRECON_1.png
  domain/study/USERRECON_2.png
  domain/study/opencorporates.png
  domain/study/seon.png
Labels: domain/study

#591 11/13 interesting place to look
  BITCOINTALK.png
  DOXBIN.png
  PASTEBIN.png
  PSBDUMP.png
  Search code.png
  hunting book list.png
Labels: repo

#584 feat: E11215009 Nov.13 exercise
  domain/study/doxbin_oceangroup.png
  domain/study/pastebin_oceangroup.png
  domain/study/psbdmp2_oceangroup.png
  domain/study/psbdmp_oceangroup.png
  domain/study/searchcode_oceangroup.png
Labels: domain/study

#573 1127-people,image,location-minimum
  1127-1.png
  1127-2.png
Labels: repo

#555 1120 interesting place to look
  1120 FIREPIT-SPLINT-1.jpg
  1120 FIREPIT-SPLINT-2.jpg
  1120 FIREPIT-SPLINT-3.jpg
  1120 SHODAN SEARCHES.jpg
Labels: repo

#593 10/16 Website info gathering & Directory hunting
  386793962_1098490417819053_2505295728669513688_n.png
  386887900_1045442729903936_200674120388131429_n.png
  407206736_849584443625930_2218686700777972121_n.png
  410174045_226953173683812_8742406985204453720_n.png
  截圖 2023-12-16 上午2.31.45.png
Labels: repo

#575 1211-profile and data viper
  1211-1.png
  1211-2.png
  1211-3.png
  1211-4.png
  1211-5.png
Labels: repo

#571 1106-document data (This is a correct theme)
  1106 ADVANCE-1.jpg
  1106 ADVANCE-2.jpg
  1106 MINIMUM-1.jpg
  1106 MINIMUM-2.jpg
  1106 OUTSTANDING.jpg
Labels: repo

#570 1030-Whois & internet archive (This is a correct theme)
  1030 FOR OUTSTANDING-1.png
  1030 FOR OUTSTANDING-2.jpg
  1030 MINIMUM REQUIREMENTS FOR A CONT-1.jpg
  1030 MINIMUM REQUIREMENTS FOR A CONT-3.jpg
  1030 MINIMUM REQUIREMENTS FOR A CONT-4.jpg
  1030 MINIMUM REQUIREMENTS FOR E-1.jpg
  1030 MINIMUM REQUIREMENTS FOR E-2.jpg
  1030MINIMUM REQUIREMENTS FOR A CONT-2.jpg
Labels: repo

#569 1023-Search engine dorks (This is a correct theme)
  1023 DOCKER RUN IT-1.jpg
  1023 DOCKER RUN IT-2.jpg
  1023 DOCKER RUN IT-3.jpg
  1023 KESTREL INSTALLATION.png
Labels: repo

#533 docs: add files exercise 30/10
  domain/study/Arthr&Gioia_CTFR.png
  domain/study/Arthur&Gioia_CRT.png
  domain/study/Arthur&Gioia_Cloudflair.png
  domain/study/Arthur&Gioia_Cloudflair2.png
Labels: domain/study

#589 Lena/Tim: Correction for ctfr task
  domain/study/ctfr_dunkindonuts.png
Labels: domain/study

#560 Add files via upload
  10.23 kestrel-install.png
  10.30-cftr-py.png
  10.30-kestrel.png
  12.04-userrecon.png
Labels: repo

#615 trace suspicious activity - backdoor
  domain/study/Trace suspicious activity (2).ipynb
  domain/study/trace suspicious activity.png
Labels: domain/study

#610 Add files via upload
  domain/study/Untitled.ipynb
Labels: domain/study

#618 12/20 M11209302/p477d343 Hunkbook revised
  domain/study/M11209302_Process_Herpaderping Mimikatz_Huntbook_Revised.ipynb
Labels: domain/study

#614 HW re-upload : Enable low risk release
  .github/workflows/cdk_py.yaml
  build_domain.py
  deployment/app.py
  deployment/app/list.py
Labels: deployment, repo
